.circle {
	position: relative;
	width: 21vh;
	height: 21vh;
	background: linear-gradient(#33ccff, #ff0066);
	border-radius: 50%;
	animation: animate 0.5s linear infinite;
	top: 4em;
}

.logo-box {
	margin: -1.8em;
	display: flex;
	align-items: center;
	justify-content: center;

	.logo {
		width: 250px;
		position: absolute;
	}
}

@keyframes animate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}

}

.circle::after {
	content: '';
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	border-radius: 50%;
	background-color: black;
}

.circle span {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(#33ccff, #ff0066);
	border-radius: 50%;
}

.circle span:nth-child(1) {
	filter: blur(5px);
}

.circle span:nth-child(2) {
	filter: blur(10px);
}

.circle span:nth-child(3) {
	filter: blur(20px);
}

.circle span:nth-child(4) {
	filter: blur(55px);
}

@media (max-width:500px) {
	.logo {
		width: 250px !important;
		position: absolute;
	}
}